body {
    font-family: Arial;
    text-align: center;
}

.filtros {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
}

button.activo {
    background-color: blue;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    width: 150px;
}